# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
*.env
.env

# ML Models
*.pt
*.pth
*.weights

# Uploads and outputs
backend/uploads/
backend/outputs/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.vercel
.env*.local
